- @product ||= Product.first
.detailed_view
  = form_for :product, url: add_to_cart_product_path(@product), remote: true do |f|
    = f.hidden_field :id
    = f.text_field :name
    = f.text_field :model
    = f.text_field :brand
    = f.text_field :price
    = f.text_area :desc
    = f.submit 'Add to Cart'
